collections:
  unforgettables:
   output: true

defaults:
  - scope:
      path: ""
      type: "unforgettables"
    values:
      layout: "unforgettable"
  - scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
  - scope:
      path: ""
    values:
      layout: "default"
